<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="large-12 columns">
    <div class="form-inputs">
      <div class="large-6 columns">
        <%= f.input :name, label: 'Nom' %>
        <%= f.input :firstname, label: 'Prénom' %>
        <%= f.input :email, label: 'Votre courriel', error_html: { id: 'email_error'} %>
        <%= f.input :age %>
        <%= f.input :gender, collection: [:male, :female], label: 'Sexe'%>
        <%= f.input :quebeker, collection: [:oui, :non], label:"Êtes vous né(e) au Québec ?" %>
        <%= f.input :yearsquebec, label: "Combien d'années vécues au Québec ?" %>
        <%= f.input :mothertongue, label:"Langue maternelle ?" %>
        <%= f.input :languages, label:"La ou les langue(s) parlée(s) depuis la naissance ?" %>
        <%= f.input :education, label:"Années de scolarité ?" %>
        <%= f.input :highestscol, label:"Plus haut niveau d'études complétées ?" %>
      </div>
      <div class="large-12 columns">
        <div class="large-12 columns"><h3>Comment jugez-vous votre vue (avec correction) ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question1,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>

        <div class="large-12 columns"><h3>Comment jugez-vous votre audition (avec correction) ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question2,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-12 columns">
          <h3>Antécédents neurologiques (traumatisme crânien, épilepsie, migraine chronique ...) ?</h3>
          <%= f.input :neurotb, label: false %>
          <h3>Antécédents psychologiques (dépression, anxiété, trouble bipolaire ...) ?</h3>
          <%= f.input :psytb, label: false %>
          <h3>Médication actuelle (autre que la pilule contraceptive) ?</h3>
          <%= f.input :medoc, label: false %>
        </div>
      </div>

      <div class="form-actions large-12 columns">
      <%= f.button :submit, "Valider", :class => "success right" %>
      </div>
    </div>
  </div>
</div>

<% end %>
