<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="large-12 columns">
    <div class="form-inputs">
      <div class="large-6 columns">
        <%= f.input :name, label: 'Nom' %>
        <%= f.input :firstname, label: 'Prénom' %>
        <%= f.input :age %>
        <%= f.email_field :email %>
        <%= f.date_field :birthdate %>
        <%= f.input :gender, collection: [:male, :female], label: 'Sexe'%>
        <%= f.collection_radio_buttons :quebeker, label:"Êtes vous né(e) au Québec ?",
        [[1, 'oui'], [2, 'non']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
%>
        <%= f.number_field :yearsquebec %>
        <%= f.input :mothertongue, label:"Langue maternelle" %>
        <%= f.input :education, label:"Années d’études complétée" %>
        <%= f.input :highestscol, label:"Plus haut diplôme obtenu" %>
      </div>
      <div class="large-12 columns">
        <div class="large-12 columns"><h3>Comment jugez-vous votre vue ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question1,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>

        <div class="large-12 columns"><h3>Comment jugez-vous votre audition ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question2,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>

        <div class="large-12 columns"><h3>Comment jugez-vous votre sensibilité olfactive ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question3,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>
 
        <div class="large-12 columns"><h3>Comment jugez-vous votre sensibilité gustative ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question4,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>

        <div class="large-12 columns"><h3>Comment jugez-vous votre tactile ?</h3></div>
        <div class="large-12 columns">
        <%= f.collection_radio_buttons :question5,
                [[1, 'mauvaise'], [2, 'satisfaisante'], [3, 'bonne'], [4, 'excellente']],
                :first,
                :last,
                collection_wrapper_tag: 'div',
                required: true
              -%>
        </div>
      </div>

      <div class="large-12 columns">
        <div class="large-12 columns">
          <h3>Avez-vous des troubles sensoriels ou moteurs ?</h3>
          <%= f.input :trouble, label: false  %>
        </div>
      </div>

      <div class="form-actions large-12 columns">
      <%= f.button :submit, "Valider", :class => "success right" %>
    </div>  
  </div>
</div>

<% end %>
