<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

<div class="row">
  <div class="large-8 columns">
    <div class="form-inputs">
      <%= f.input :name, label: 'Nom' %>
      <%= f.input :age %>
      <%= f.input :gender, collection: [:male, :female], label: 'Sexe'%>
      <%= f.association :student_group, label: 'Groupe de TD' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Valider"%>
    </div>  
  </div>
</div>

<% end %>
