<h1>Dans quelle mesure ressentez-vous <span class="word">"<%= @word.name %>"</span> ?</h1>
<%= simple_form_for(@word) do |f| %>
  <div class="progress large-12 success round">
    <span class="meter" style="width: <%= @rate %>%"></span>
  </div> 
  
  <% if @error %>
    <div class="alert-box alert">Veuillez répondre à toute les questions</div>
  <% end %>
     <% @questions.each do | question | -%>
          <div class="large-12 columns question_answer">
          <% if question.id < 6 %> 
            <div class="question large-4 columns"><%= question.name %></div>
            <div class='nested-fields large-8 columns'>
          <% else %>
            <div class="question large-5 columns last"><%= question.name %></div>
            <div class='nested-fields large-7 columns last'>
          <% end %>
            <%= f.simple_fields_for :answers, question.answers.find_or_initialize_by(
              user_id: session[:user_id],
              word_id: @word.id,
              question_id: question.id) do |a| -%>
              <% if question.id < 6 %> 
                <%= a.collection_radio_buttons :value,
                          [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
                          :first,
                          :last,
                          collection_wrapper_tag: 'div'
                        -%>
              <% else %>
                <%= a.input :value, as: :boolean, checked_value: 1, unchecked_value: 0, label: false -%>
              <% end %>
 
                <%= a.input :user_id, :as => :hidden, :input_html => {:value => session[:user_id]} -%> 
                <%= a.input :question_id, :as => :hidden, :input_html => {:value => question.id} -%> 
            <% end -%>
            </div>
          </div>
  <% end -%>
  <div class="form-actions">
    <%= f.button :submit, "Valider", :class => "success right" %>
  </div>  
<% end -%>
