<%= simple_form_for(@word) do |f| %>

  <div class="progress large-12 success round">
    <span class="meter" style="width: <%= @rate %>%"></span>
  </div>

  <% if @error %>
    <div class="alert-box alert">Veuillez répondre à toutes les questions</div>
  <% end %>

  <h2>Dans quelle mesure connaissez-vous ce mot : <span class="word">"<%= @word.name %>"</span> ?</h2>
          <div class="large-12 columns question_answer">
            <div class="question large-4 small-12 columns"></div>
            <div class="question large-2 small-2 columns question-label">pas du tout</div>
            <div class='nested-fields large-4 small-8 columns'>
              <%= f.simple_fields_for :answers, @questions[0].answers.find_or_initialize_by(
                user_id: session[:user_id],
                word_id: @word.id,
                question_id: @questions[0].id) do |a| -%>
                <%= a.collection_radio_buttons :value,
                          [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
                          :first,
                          :last,
                          collection_wrapper_tag: 'div'
                        -%>
                  <%= a.input :user_id, :as => :hidden, :input_html => {:value => session[:user_id]} -%> 
                  <%= a.input :question_id, :as => :hidden, :input_html => {:value => @questions[0].id} -%> 
              <% end -%>
            </div>
            <div class="question large-2 small-2 columns question-label">grandement</div>
         </div>

  <h2>Dans quelle mesure le ressentez-vous ?</h2>

      <% @questions[1..5].each do | question | -%>
          <div class="large-12 columns question_answer">
            <div class="question large-6 small-12 columns"><%= question.name %></div>
            <div class='nested-fields large-4 small-8 columns'>
              <%= f.simple_fields_for :answers, question.answers.find_or_initialize_by(
                user_id: session[:user_id],
                word_id: @word.id,
                question_id: question.id) do |a| -%>
                <%= a.collection_radio_buttons :value,
                          [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
                          :first,
                          :last,
                          collection_wrapper_tag: 'div'
                        -%>
                  <%= a.input :user_id, :as => :hidden, :input_html => {:value => session[:user_id]} -%> 
                  <%= a.input :question_id, :as => :hidden, :input_html => {:value => question.id} -%> 
              <% end -%>
            </div>
            <div class="question large-2 small-2 columns question-label"></div>
         </div>
  <% end -%>
  <div class="form-actions">
    <%= f.button :submit, "Suivant", :class => "success right" %>
  </div>  
<% end -%>
