<%= simple_form_for(@word) do |f| %>

  <div class="progress large-12 success round">
    <span class="meter" style="width: <%= @rate %>%"></span>
  </div>

  <% if @error %>
    <div class="alert-box alert">Veuillez répondre à toutes les questions</div>
  <% end %>
  
  <h1><%= @word.name %></h1>
      <% @questions.each do | question | -%>
          <div class="large-12 columns question_answer">
            <div class="question large-12 small-12 columns"><%= question.name %></div>
            <div class='nested-fields large-12 small-12 columns'>
              <%= f.simple_fields_for :answers, question.answers.find_or_initialize_by(
                user_id: session[:user_id],
                word_id: @word.id,
                question_id: question.id) do |a| -%>
                   <div class="large-2 columns"></div>
                   <div class="large-2 columns question-label"><%= question.min %></div>
                   <div class='nested-fields large-4 columns'>
                   <%= a.collection_radio_buttons :value,
                          [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]],
                          :first,
                          :last,
                          collection_wrapper_tag: 'div'
                        -%>
                    <%= a.input :user_id, :as => :hidden, :input_html => {:value => session[:user_id]} -%> 
                    <%= a.input :question_id, :as => :hidden, :input_html => {:value => question.id} -%>
                    </div>
                <div class="large-2 columns question-label"><%= question.max %></div>
                <div class="large-2 columns"></div>
              <% end -%>
            </div>
         </div>
  <% end -%>
  <div class="form-actions">
    <%= f.button :submit, "Suivant", :class => "success right" %>
  </div>  
<% end -%>
