<div class="row">
  <div class="large-12 columns">

    <% unless session[:user_id] %>
      <p class='instruction'>
      Vous allez participer à une étude qui évalue votre ressenti subjectif par rapport à des mots en français.
      </p>

      <p class='instruction'>
      Le temps de votre participation est d’une durée maximale d’une heure et demie.
      </p>

      <p class='instruction'>
      Seuls les participants qui auront terminé tout le questionnaire recevront la carte cadeau.
      </p>

      <p class='instruction'>
      Ne vous connectez pas immédiatement au site du questionnaire si vous n’êtes pas sûr d’avoir une heure et demie de temps libre sans aucune distraction (seul dans une pièce, ambiance calme, pas de téléphone, etc…)
      </p>

      <%= link_to "S'enregistrer", new_user_path, :class => "button button-large" %>

      <p class='instruction'>
      Si vous êtes déjà enregistré, renseignez votre courriel :
      </p>

      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert-box #{key}" %>
      <% end %>

      <%= simple_form_for(@user, :url => login_path) do |f| %>
        <%= f.input :email, label: 'email' %>
        <%= f.button :submit, "Commencer le questionnaire", :class => "success right" %>
      <% end %>
    <% else %>

      <p class='instruction'>
      Ne vous connectez pas immédiatement au site du questionnaire si vous n’êtes pas sûr d’avoir une heure et demie de temps libre sans aucune distraction (seul dans une pièce, ambiance calme, pas de téléphone, etc…)
      </p>

      <%= link_to "Faire le questionnaire plus tard", logout_path, :class => "button button-large" %>

      <h1>Consignes</h1>

      <h2>Familiarité avec le concept</h2>

      <p class='instruction'>
      Vous êtes invité(e) à donner votre estimation sur le degré auquel vous pensez connaitre ou être en contact avec le concept évoqué par un mot.
      </p>

      <p class='instruction'>
      Par exemple, si vous vous sentez très familier avec le concept qu’évoque le mot « kiwi », vous voyez parfaitement à quoi ressemble un « kiwi », quel goût il a, sa texture, etc., vous déplacerez le curseur sur le côté droit de la barre qui indique que c’est un concept extrêmement familier.
      </p>

      <p class='instruction'>
      Au contraire, si le concept évoqué par un mot vous est moins familier, comme le mot « inukshuk », dans ce cas-là vous déplacerez le curseur sur le côté gauche de la barre qui indique que c’est un concept extrêmement peu familier.
      </p>

      <p class='instruction'>
      Faite défilez le curseur sur la barre (ou à une de ses extrémités) à l’endroit qui représente le mieux votre réponse. Par exemple, si vous jugez votre familiarité très forte, vous placerez votre curseur très proche de l’extrémité positive (voire sur celle-ci). Si vous jugez, par contre, que la familiarité est très faible, vous placerez votre curseur très proche de l’extrémité négative (voire sur celle-ci). Si vous estimez qu'elle est moyenne, vous placerez votre curseur aux environs du milieu de la barre, etc.
      </p>

      <h2>Valence émotionnelle</h2>

      <p class='instruction'>
      Évaluez la dimension émotionnelle d’un mot en indiquant si le mot lu renvoie à une émotion positive ou négative ou s’il ne renvoie à aucune émotion, autrement dit qu’il est neutre. Le but ici est d’évaluer à quel point ce mot évoque une émotion en le lisant. Vous estimerez alors  l’émotion sur une échelle allant d’extrêmement négative à extrêmement positive.
      </p>

      <p class='instruction'>
      Par exemple, si le mot « noir » vous provoque une émotion très négative, vous déplacerez le curseur sur le côté gauche de la barre qui est plus négatif. Mais si le mot n’évoque aucune émotion et vous vous sentez neutre par rapport à ce mot, vous placerez le curseur à l’aide de la souris au milieu de la barre.
      </p>

      <p class='instruction'>
      Si par exemple, le mot « blanc » vous évoque une émotion très positive, vous déplacerez le curseur sur le côté droit de la barre qui est plus positif. Mais si le mot n’évoque aucune émotion et vous vous sentez neutre par rapport à ce mot, vous placerez le curseur à l’aide de la souris au milieu de la barre. 
      </p>

      <h2>Force perceptuelle auditive et visuelle</h2>

      <p class='instruction'>
      Vous êtes invité(e) à estimer l’expérience perceptuelle que vous avez eue avec un concept. Chacun a vécu différemment son expérience sensorielle vis-à-vis des connaissances. Un mot comme « chien » pourrait avoir une force perceptuelle <b>auditive</b> plus forte que le mot « tortue », car vous avez souvent entendu le chien du voisin aboyer, mais que vous n’avez jamais possédez de chien. Mais ce mot «chien » pourrait avoir aussi une force perceptuelle <b>visuelle</b> plus forte que le mot « hamster » si vous avez possédez un chien comme animal de compagnie et jamais de hamster. Si le mot vous évoque une représentation auditive ou visuelle très forte, vous déplacerez le curseur sur le côté droit de la barre indiquant une expérience extrêmement forte.
      </p>

      <p class='instruction'>
      Certains mots plus abstraits, comme « impossible », peuvent être reliés à des représentations concrètes dans le vécu personnel (images, sons, etc…). Vous pouvez relier les mots abstraits à des expériences personnelles en rapport avec ces mots. Il est possible également que ces mots n’évoquent pas particulièrement des sons ou des images, et vous placerez alors le curseur vers le côté gauche de la barre.
      </p>

      <%= link_to "Commencer maintenant", start_path, :class => "button button-large" %>
    <% end %>

  </div>
</div>
